{
  "farm" : {
    "T1" : {
      // Vanilla - T1 - Materials
      "cotton" : true,
      "plantfibre" : true,
      "petalblue" : true,
      "petalred" : true,
      "petalyellow" : true,
      "silkfibre" : true,

      // Vanilla - T1 - Human food
      "carrot" : true,
      "chili" : true,
      "coffeebeans" : true,
      "potato" : true,
      "redapple" : true,
      "rice" : true,
      "shroom" : true,
      "tomato" : true,
      "wheat" : true,

      // Vanilla - T1 - Floran food
      "boneboo" : true,
      "eggshoot" : true,
      "oculemon" : true,
      "pussplum" : true,
      "wartweed" : true,

      // Elithian Races Mod - T1 - Aegi
      "ambrumfiber" : true,
      "borato" : true,
      "selvasextract" : true,
      "loftgrain" : true,
      "mellowroot" : true,
      "vahlberries" : true,

      // Elithian Races Mod - T1 - Avikan
      "avikanspices" : true,
      "bolbohn" : true,
      "dunestalk" : true,
      "kadavancactus" : true,

      // FU - T1
      "cinnamon" : true,
      "erithianalgae" : true,
      "hops" : true,
      "dragonsbeard" : true,
      "jillyroot" : true,
      "littlerascal" : true,
      "solusberry" : true,
      "blisterbushplantfood" : true,
      "energiflower" : true,
      "ighantbulb" : true,
      "leafshell" : true,
      "miraclegrass" : true,
      "slimeleaf" : true,
      "varanberry" : true,
      "vextonguestamen" : true,
      "wubstem" : true
    },
    "T2" : {
      // Vanilla - T2 - Hylotl food
      "coralcreep" : true,
      "dirturchin" : true,
      "kelp" : true,
      "reefpod" : true,
      "toxictop" : true,

      // Vanilla - T2 - Avian food
      "avesmingo" : true,
      "beakseed" : true,
      "cacti" : true,
      "corn" : true,
      "feathercrown" : true,
      "pearlpea" : true,
      "thornfruit" : true
    },
    "T3" : {
      // Vanilla - T3 - Apex food
      "alienfruit" : true,
      "banana" : true,
      "cocoa" : true,
      "grapes" : true,
      "kiwi" : true,
      "neonmelon" : true,
      "pineapple" : true,
      "sugar" : true,

      // Vanilla - T3 - Glitch food
      "automato" : true,
      "boltbulb" : true,
      "currentcorn" : true,
      "diodia" : true
    }
  },
  "hunt" : {
    "T1" : {
      // Vanilla - T1 - Food
      "alienmeat" : true,
      "egg" : true,
      "rawbacon" : true,
      "rawfish" : true,
      "rawpoultry" : true,
      "rawribmeat" : true,
      "rawtentacle" : true,

      // Vanilla - T1 - Materials
      "hardenedcarapace" : true,
      "leather" : true,
      "livingroot" : true,
      "phasematter" : true,
      "sharpenedclaw" : true,

      // Elithian Races Mod - T1 - Aegi
      "farythscale" : true,
      "kelbethide" : true,

      // Elithian Races Mod - T1 - Avikan
      "monsterbone" : true,
      "monsterhide" : true,
      "monsterscales" : true,
      "sandcrawlermeat" : true,
      "sandcrawlertooth" : true,
      "valahrgland" : true,

      // FU - T1
      "monsterplating" : true
    },
    "T2" : {
      // Vanilla - T2 - Materials
      "staticcell" : true,
      "stickofram" : true,
      "venomsample" : true,

      // Elithian Races Mod - T2 - Avikan
      "monsterclaws" : true,
      "monsterplate" : true
    },
    "T3" : {
      // Vanilla - T3 - Materials
      "cryonicextract" : true,
      "scorchedcore" : true,

      // Elithian Races Mod - T3 - Avikan
      "greatmonsterbone" : true,
      "monsterspine" : true
    }
  },
  "mine" : {
    "T1" : {
      // Vanilla - T1 - Ores
      "coalore" : true,
      "corefragmentore" : true,
      "ironore" : true,
      "copperore" : true,
      "silverore" : true,
      "tungstenore" : true,

      // FU - T1 - Ores
      "bone" : true,
      "lead" : true,
      "magnesiumore" : true,
      "moonstoneore" : true,
      "solarishard" : true,
      "sulphur" : true
    },
    "T2" : {
      // Vanilla - T2 - Ores
      "goldore" : true,
      "titaniumore" : true,
      "durasteelore" : true,

      // FU - T2 - Ores
      "corruptionore" : true,
      "irradiumore" : true,
      "neptuniumore" : true,
      "penumbriteore" : true,
      "platinumore" : true,
      "prisiliteore" : true,
      "protociteore" : true,
      "quietusore" : true,
      "thoriumore" : true,
      "triangliumore" : true,
      "zerchesiumore" : true
    },
    "T3" : {
      // Vanilla - T3 - Ores
      "diamond" : true,
      "aegisaltore" : true,
      "feroziumore" : true,
      "violiumore" : true,
      "solariumore" : true,

      // FU - T3 - Ores
      "blooddiamond" : true,
      "densiniumore" : true,
      "effigiumore" : true,
      "isogenore" : true,
      "nocxiumore" : true,
      "pyreiteore" : true,
      "xithriciteore" : true
    }
  }
}
