{
  "v1_to_v2" : {
    "paneLayout" : "/interface/ees/confirmation/bigconfirmation.config:paneLayout",
    "icon" : "/interface/beamup.png",
    "title" : "EE for Starbound auto-updater.",
    "subtitle" : "From v1.x to v2.x",
    "message" : "Hello fellow starbounder!\n^orange;Equivalent Exange for Starbound^white; has just being updated to version 2, here you have a list of the main changes:\n\n - ^red;Removed^white; the ^orange;Trasmutation book^white;, now you will remember all the transmutations on your own.\n\n - ^green;Added^white; several ^orange;Transmutation tablets^white;, portable versions of the tranmutation tables you known and love.\n\n - ^green;Added^white; a new ^orange;Quest lines^white; to unlock the Transmutation tablets, craft any Transmutation table to start it.",
    "okCaption" : "Understood",
    "cancelCaption" : "Understood"
  }
}
